.pytest_cache
.venv
.vscode
.DS_Store 
.env
__pycache__
.log
airflow/logs/

airflow/brouillon.ipynb
airflow/brouillon.ipynb
airflow/logs/dag_processor_manager/dag_processor_manager.log
airflow/logs/dag_processor_manager/dag_processor_manager.log
